.login-box {
  background: #2f2f2f;
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  margin: 100px auto;
}
input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: #444;
  color: white;
  border: none;
}
button {
  width: 100%;
  background: #e50914;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
